html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-style: italic;
}

* {
  font-family: 'Times New Roman', sans-serif;
}

.primary-title {
  font-size: 90px;
  color: rgb(255, 255, 255);
}

.primary-button {
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size: 15px;
  background: forestgreen;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background: darkgreen;
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}

.secondary-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}


/*-------- Navbar --------*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: forestgreen;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

nav .nav-button:disabled {
  background-color: rgb(181, 180, 180);
  color: lightgreen;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

nav .logo-container .logo {
  width: 120%;
}

/*-------- Landing page --------*/
.landingpage {
  margin-top: 30vh;
}